* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grayColor: #888888;
    --bodyColor: #fcfcfc;
    --whiteColor: white;
    --darkColor: black;
}

body {
    background-color: var(--bodyColor);

}

.head {
    height: 150px;
}

.search-box {
    max-width: 800px;
}

.search-box i {
    right: 150px;
    color: var(--grayColor);
    pointer-events: none;
}

@media (max-width: 500px) {

    .search-box i {
        right: 100px;
        font-size: 14px;

    }

    .search-box input {
        font-size: 12px;
    }
}

@media (max-width: 300px) {

    .search-box i {
        display: none;
    }
}

.cart {
    position: relative;
}

.cart .num {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 18px;
    box-shadow: 0 0 10px var(--darkColor);
    opacity: 0.89;
    color: var(--whiteColor);
    margin: auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.card{
    overflow: hidden;
}
.card img {
    transition:  0.5s ease;
}

.card img:hover {
    transform: scale(1.2);
}
.top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    cursor: pointer;

}